:root {
    --azul-escuro: #001f3f;
    --azul-claro: #00BCD4;
    --verde: #4CAF50;
    --laranja: #FFA500;
    --cinza-claro: #E0E0E0;
}

body {
    background-color: var(--cinza-claro);
}


.menu {
    margin-top: 20px;
    margin-left: 10px;
    visibility: visible;
    width: 98%;
    display: flex;
    gap: 10px;
}

.menu > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    transition: .3s;
    border-radius: 6px;
}

.menu > a:hover{
    font-weight: bolder;
    background-color: var(--azul-escuro);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
}

.menu-lateral {
    visibility: hidden;
}

.btn-expandir, .btn-retrair{
    visibility: hidden;
}

main {
    margin-top: 10px;
    margin-left: 6px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(15, 15, 15, 0.425);
    margin-bottom: 10px;
    padding: 10px;
}
